@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #686de0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.container{
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 20px;
    width: 850px;
    max-width: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}


h3{
    font-size: 1.5rem;
    opacity: .6;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color: #686de0;
    color:#fff;
    border:0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);

}

.btn:active{
    transform: translateY(3px);
}


